<div class="bg-gray-100 dark:bg-[var(--main-color)] dark:text-white border-t">
    <div class="container mx-auto py-10">
        <h6 class="mb-2 font-bold text-2xl">Send Message</h6>
        <input type="email" name="email" class="bg-gray-50 w-2/3 md:w-3/4 border max-md:p-5 ms-8 border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email...">
        <div class="flex justify-between items-center pb-2 lg:mt-4">
            <textarea type="email" name="email" class="bg-gray-50 w-2/3 md:w-3/4 border max-md:p-5 ms-8 border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your Message..."></textarea>
            <button class="btn-light dark:bg-[var(--dark-accent-color)] dark:border-slate-900 xl:me-8">Send</button>
        </div>
    </div>
</div>