<section class="bg-light dark:bg-slate-800 dark:text-gray-300">

    <div class="p-4 md:p-8">
        <div class="grid grid-cols-4 md:grid-cols-9 md:space-x-8">
            <div class="col-span-4 md:col-span-3 space-y-4">
                <div>
                    <img class="w-full" [src]="gameDetails.thumbnail" [alt]="gameDetails.title">
                </div>
                <div>
                    <button (click)="openLink(gameDetails.game_url)" class="cursor-pointer btn-light text-center w-full dark:border-slate-900 dark:bg-slate-800 dark:hover:bg-slate-900">PLAY NOW</button>
                </div>
                <div class="flex">
                    @for (images of gameDetails.screenshots; track images.id) {
                        <img (click)="openLink(images.image)" class="w-1/3 cursor-pointer" [src]="images.image" [alt]="gameDetails.title">
                    }
                </div>
            </div>
            <div class="col-span-6 space-y-4">
                <div>
                    <h1 class="text-[36px] font-[500] border-b">{{gameDetails.title}}</h1>
                    <p class="md:ms-8 mt-4">{{gameDetails.short_description}}</p>
                </div>
                <div>
                    <h2 class="text-[26px] font-[500] border-b">About {{gameDetails.title}}</h2>
                    <p class="md:ms-8 mt-4">{{gameDetails.description}}</p>
                </div>
                <div>
                    <h2 class="text-[26px] font-[500] border-b">Additional Information</h2>
                    <div class="grid grid-cols-6 gap-x-4  md:ms-8 mt-4">
                        <div class="col-span-2">
                            <div>
                                <p>Title</p>
                                <h3 class="text-[20px] font-[500]">{{gameDetails.title}}</h3>
                            </div>
                            <div>
                                <p>Release Date</p>
                                <h3 class="text-[20px] font-[500]">{{gameDetails.release_date | date:'longDate'}}</h3>
                            </div>
                        </div>
                        <div class="col-span-2">
                            <div>
                                <p>Developer</p>
                                <h3 class="text-[20px] font-[500]">{{gameDetails.developer}}</h3>    
                            </div>
                            <div>
                                <p>genre</p>
                                <h3 class="text-[20px] font-[500]">{{gameDetails.genre}}</h3>
                            </div>
                        </div>
                        <div class="col-span-2">
                            <div>
                                <p>Publisher</p>
                                <h3 class="text-[20px] font-[500]">{{gameDetails.publisher}}</h3>    
                            </div>
                            <div>
                                <p>Platform</p>
                                <h3 class="text-[20px] font-[500]">{{gameDetails.platform}}</h3>    
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="text-[26px] font-[500] border-b">Minimum System Requirements</h2>
                    <div class="grid grid-cols-6 gap-x-4  md:ms-8 mt-4">
                        <div class="col-span-3">
                            <div>
                                <p>OS</p>
                                <h5 class="text-[18px] font-[500]">{{gameDetails.minimum_system_requirements.os}}</h5>
                            </div>
                            <div>
                                <p>Memory</p>
                                <h5 class="text-[18px] font-[500]">{{gameDetails.minimum_system_requirements.memory}}</h5>
                            </div>
                            <div>
                                <p>Storage</p>
                                <h5 class="text-[18px] font-[500]">{{gameDetails.minimum_system_requirements.storage}}</h5>
                            </div>
                        </div>
                        <div class="col-span-3">
                            <div>
                                <p>Processor</p>
                                <h5 class="text-[18px] font-[500]">{{gameDetails.minimum_system_requirements.processor}}</h5>    
                            </div>
                            <div>
                                <p>Graphics</p>
                                <h5 class="text-[18px] font-[500]">{{gameDetails.minimum_system_requirements.graphics}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>